:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #FCB800;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
    font-family: 'Open Sans', sans-serif;;
    box-sizing: border-box;
}

ul, ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

h5, h4, h3 , h2, p{
    margin: 0;
}

.size-18 {
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    line-height: 2.4rem;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.no-cursor {
    cursor: text;
}

.hidden {
    display: none !important;
}

.active {
    display: block !important;
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
}

.btn {
    padding: 10px 15px;
    background: #e6e6e6;
    color: #888;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
    cursor: pointer;
}

.btn-primary {
    padding: 10px 15px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
    width: 100%;
    cursor: pointer;
}

.btn--disabled {
    color: #bbb !important;
    background-color:#eee !important;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn linear 0.3s;
    z-index: 2;
}

@keyframes fadeIn {
    from { 
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.price-final {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 2.4rem;
    padding-right: 8px;
}

.price-old {
    font-size: 1.4rem;
    color: #999;
    font-weight: 600;
    text-decoration: line-through;
    line-height: 2.4rem;
}

.product-name {
    font-size: 1.4rem;
    color: #527AFF;
    line-height: 2.4rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product-name:hover{
    color: var(--primary-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-img {
    display: block;
    overflow: hidden;
    max-width: 100%;
    padding-right: 10px;
}

.product-img img {
    width: 100%;  
    height: auto;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(1)
}

.product-img:hover img{
    transform: scale(1.2)
}

.product-wrapper:hover img{
    transform: scale(1.2)
}

.quick-view,
.to-compare,
.add-to-wish-list,
.add-to-cart {
    font-size: 1.8rem;
    color: #999595;
    padding: 0 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    color: var(--primary-color);
}

.product-review-summary {
    display: flex;
    line-height: 2.4rem;
}

.rating-result {
    padding-right: 10px;
}

.rating-icon {
    color: #C9CAC9;
    font-size: 1.2rem;
}

.rating-icon--active {
    color: var(--primary-color);
}

.action-view {
    font-size: 1.2rem;
    color: #666;
}

.action-view::before {
    content: '(';
    margin-right: -2.5px;
}

.action-view::after {
    content: ')';
    margin-left: -2.5px;
}

.action-view:hover {
    color: var(--primary-color);
}

.tab-ui--active .cat-name::after{
    background-color: var(--primary-color);
}

.product-wrapper .onsale {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: #4cd964;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3px 10px;
    z-index: 1;
}

.product-wrapper:hover .product-action{
    opacity: 1;
    visibility: visible;
    animation: showUp linear 0.2s; 
}

.product-action {
    background-color: #fff;
    padding: 4px;
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: 20px;
    text-align: center;
}

@keyframes showUp {
    from {
        opacity: 0.8;
        bottom: 10px;
    }

    to{
        opacity: 1;
        bottom: 20px;
    }
}



.pre-and-next {
    opacity: 0;
    visibility: hidden;
}

.previous-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: var(--text-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.next-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: var(--text-color);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.product-action--pre {
    position: absolute;
    top: 50%;
    left: 0;
}

.product-action--next {
    position: absolute;
    top: 50%;
    right: 0;
}

.previous-btn:hover,
.next-btn:hover {
    background-color: var(--primary-color);
}

.previous-btn.btn--disabled:hover,
.next-btn.btn--disabled:hover {
    color: #bbb;
    background-color:#eee;
}

.product-wrapper:hover .pre-and-next{
    opacity: 1;
    visibility: visible;
}

.product-wrapper--medium {
    padding: 7px 20px;
}

.product-wrapper {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-left: none;
}

.product-wrapper:first-child {
    border-left: 1px solid #e6e6e6;
}

.tag-title__wrapper {
    background-color: #FDF4ED;
}

.tag-title {
    display: flex;
}

.tag-title h2{
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    
    padding: 12px 45px 12px 20px;
    background-color: var(--primary-color);
    border-bottom-right-radius: 20px;
}

.mg-bot-35 {
    margin-bottom: 35px;
}

.mg-bot-60 {
    margin-bottom: 60px !important;
}

.mg-left-15 {
    margin-left: 15px;
}

.mg-right-15 {
    margin-right: 15px;
}

.overflow-x-auto {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.overflow-x-auto::-webkit-scrollbar {
    display: none;
}

.banner-wrapper {
    position: relative;
}

.img-hover-light-effect::before, 
.img-hover-light-effect::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 2;
}

.banner-wrapper:hover .img-hover-light-effect::before,
.banner-wrapper:hover .img-hover-light-effect::after {
    background-color: rgba(255, 255, 255,0.5);
}

.banner-wrapper:hover .img-hover-light-effect::before {
    width: 0;
}

.banner-wrapper:hover .img-hover-light-effect::after {
    height: 0;
}

.tab--active {
    color: var(--primary-color) !important;
}

.tabs-nav {
    display: flex;
    flex-wrap: wrap;
}

.tab-item {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-link:hover .cat-name{
    color: var(--primary-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cat-name {
    font-size: 1.4rem;
    color: #8d8d8d;
}

.tab-banner img{
    width: 100%;
    height: 100%;
}

.onsale.onsale--right {
    left: initial;
    right: 0;
}

.brand-list {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.brand-list-haft {
    padding: 10px 0;
}

.brand-img img{
    width: 100%;
}

.banner-img,
.banner-img img {
    width: 100%;
    height: 100%;
}

.item-horizontal {
    display: flex;
    width: 100%;
    min-height: 140px;
    margin-left: -10px;
    margin-right: -10px;
}

.item-horizontal .product-img {
    max-width: 40%;
    min-width: 35%;
}

.item-horizontal .product-info {
    flex: 1;
}

.no-border {
    border: none !important;
}