:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #FCB800;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    
    font-family: 'Open Sans', sans-serif;;
    box-sizing: border-box;
}

ul, ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

h3 {
    margin: 0;
}



.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.no-cursor {
    cursor: text;
}

.hidden {
    display: none !important;
}

.active {
    display: block !important;
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
}

.btn {
    padding: 10px 15px;
    background: #e6e6e6;
    color: #888;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
    cursor: pointer;
}

.btn-primary {
    padding: 10px 15px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
    width: 100%;
    cursor: pointer;
}

.previous-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: var(--text-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.next-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: var(--text-color);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.btn--disabled {
    color: #bbb;
    background-color:#eee;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
    from { 
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.price-final {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 2.4rem;
}

.price-old {
    font-size: 1.4rem;
    color: #999;
    font-weight: 600;
    text-decoration: line-through;
    line-height: 2.4rem;
}

.product-name {
    font-size: 1.4rem;
    color: #527AFF;
    line-height: 2.4rem;
}

.product-name:hover{
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.product-img {
    display: block;
    overflow: hidden;
}

.product-img img {
    width: 100%;  
    height: auto;
    display: block;
    transition: all 0.3s ease;
    transform: scale(1)
}

.product-img:hover img{
    transform: scale(1.4)
}



